body {
  background-color: #eef1f5;
  color: #333;
}
.container-box {
  margin: 10px 20px;
}
.container-box .nav-tabs li a {
  padding: 5px 7.5px;
}
.container-box .tab-content {
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.car-page .page-title {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}
.car-page .company-nav .form-group {
  margin-bottom: 15px;
}
.car-page .company-nav .form-group select {
  display: inline-block;
}
.car-page .company-nav .form-group .mt-radio {
  margin-bottom: 0;
}
.car-page .company-nav .form-group .form-control:focus {
  border-color: #ccc;
}
.car-page .car-table .table-responsive {
  max-height: 300px;
  overflow: auto;
}
.car-page .car-table table td,
.car-page .car-table table th {
  min-width: 80px;
  text-align: center;
  font-size: 12px !important;
}
.car-page .container {
  height: 330px;
  background-color: #fff;
}
.car-page .container .car-info {
  display: inline-block;
  width: 9%;
  float: left;
  margin-top: 60px;
}
.car-page .container .car-info .row {
  margin: 10px;
}
.car-page .container #car-chart {
  display: inline-block;
  width: 90%;
  height: 330px;
  float: right;
  margin-top: 15px;
}
.select-bg {
  background: rgba(175, 191, 255, 0.5) !important;
}
.select-bg:hover {
  background: rgba(175, 191, 255, 0.5) !important;
}
#customerVis .top {
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 15px 0;
  width: 96%;
  margin: 10px auto;
}
#customerVis .top .dist-chart {
  height: 285px;
  display: inline-block;
  width: 600px;
}
#customerVis .top .dist-chart .tab-text {
  height: 31px;
  line-height: 31px;
  vertical-align: middle;
  display: inline-block;
  float: left;
  margin-right: 10px;
  color: #9b9b9b;
}
#customerVis .top .dist-chart .nav-tabs {
  display: inline-block;
  border: 1px solid #c0d6fb;
  background: #f2f7fd;
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
}
#customerVis .top .dist-chart .nav-tabs li {
  height: 33px;
  line-height: 33px;
  vertical-align: middle;
  border-bottom: none !important;
  right: 1px;
}
#customerVis .top .dist-chart .nav-tabs li a {
  padding: 5px 7.5px;
  color: #9b9b9b;
}
#customerVis .top .dist-chart .nav-tabs li:hover {
  border-bottom: none !important;
}
#customerVis .top .dist-chart .act {
  background: #fff;
  border: 1px #c0d6fb solid;
  border-radius: 4px !important;
  -webkit-border-radius: 4px !important;
  -moz-border-radius: 4px !important;
  border-collapse: collapse;
}
#customerVis .top .dist-chart .chart {
  height: 250px;
  width: 100%;
}
#customerVis .top .compare-chart {
  height: 285px;
  display: inline-block;
  width: 370px;
}
#customerVis .bottom {
  background-color: #fff;
  width: 96%;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 15px 0;
}
#customerVis .bottom .customer-table {
  height: 300px;
  width: 600px;
}
#customerVis .bottom .customer-table .tools {
  margin-bottom: 10px;
}
#customerVis .bottom .customer-table .tools select.form-control {
  display: inline-block;
  padding: 3px 6px;
  font-size: 11px;
  height: 28px;
}
#customerVis .bottom .customer-table .tools select:first-child {
  width: 60px;
}
#customerVis .bottom .customer-table .tools select:nth-child(2) {
  width: 130px;
}
#customerVis .bottom .customer-table .tools select:nth-child(3) {
  width: 80px;
}
#customerVis .bottom .customer-table .tools .btn-success {
  padding: 5px 12px;
  font-size: 11px;
  background-color: #3E84E7;
  border: none;
  outline: none;
}
#customerVis .bottom .customer-table .table-responsive {
  max-height: 255px;
  overflow: auto;
}
#customerVis .bottom .customer-table .table-responsive table th,
#customerVis .bottom .customer-table .table-responsive table td {
  font-size: 10px;
  padding: 5px;
}
#customerVis .bottom .customer-table .table-responsive table thead tr th {
  border-bottom: 1px solid #3e84e7 !important;
  color: #9b9b9b;
  font-size: 12px;
}
#customerVis .bottom .radar-container {
  width: 260px !important;
  height: 260px !important;
  margin-top: 10px;
}
#customerVis .bottom .radar-container .radar-chart {
  width: 100% !important;
  height: 100% !important;
}
#customerVis .bottom .radar-container .radar-chart canvas {
  width: 100% !important;
  height: 100% !important;
}
