body {
  background-color: rgb(238, 241, 245);
  color: #333;
}
.container-box {
  margin: 10px 20px;
  .nav-tabs {
    li {
      a {
        padding: 5px 7.5px;
      }
    }
  }
  .tab-content {
    border-left: none;
    border-right: none;
    border-bottom: none
  }
}
.car-page {
  .page-title {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }
  .company-nav {
    .form-group {
      margin-bottom: 0;
      .mt-radio {
        margin-bottom: 0;
      }
    }

  }
  .car-table {
    .table-responsive {
      max-height: 200px;
      overflow: auto;
    }
    table {
      td, th{
        min-width: 80px;
        text-align: center;
        font-size: 12px !important;
      }
    }
  }
}

#customerVis {
  .top {
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 15px 0;
    width: 96%;
    margin: 10px auto;
    .dist-chart {
      height: 285px;
      display: inline-block;
      width: 500px;
      ul {
        display: inline-block;
        li {
          a {
            padding: 5px 7.5px;
          }
        }
      }
      select {
        width: 65px;
        float: right;
        padding: 3px 6px;
        font-size: 12px;
        margin-right: 15px;
      }
      .chart {
        height: 250px;
        width: 500px;
      }
    }
    .compare-chart {
      height: 285px;
      display: inline-block;
      width: 300px
    }
  }

  .bottom {
    background-color: #fff;
    width: 96%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 15px 0;
    .customer-table {
      height: 300px;
      width: 500px;
      .tools {
        margin-bottom: 10px;
        select {
          display: inline-block;
          padding: 3px 6px;
          font-size: 11px;
        }
        select:first-child {
          width: 60px;
        }
        select:nth-child(2) {
          width: 130px;
        }
        select:nth-child(3) {
          width: 80px;
        }
      }
      .table-responsive {
        max-height:240px;
        overflow: auto;
        table {
          th, td {
            font-size: 10px;
            padding: 5px;
          }
        }
      }
    }
    .radar-container {
      width: 350px !important;
      height: 350px !important;
      .radar-chart {
        width: 100% !important;
        height: 100% !important;
      }
    }
    .company-bg {
      background: rgba(175,191,255,0.5) !important;
    }
  }
}