<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Data visualization</title>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="node_modules/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
    <link href="node_modules/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="components.min.css" rel="stylesheet">
    <link href="visualization.css" rel="stylesheet">
</head>
<body>
<div class="container-box" ng-app="dataVis" ng-controller="visualCtrl">
    <div class="tabbable-custom ">
        <ul class="nav nav-tabs ">
            <li class="active">
                <a href="#car" data-toggle="tab"> 汽车 </a>
            </li>
            <li>
                <a href="#area" data-toggle="tab"> 区域 </a>
            </li>
            <li>
                <a href="#psr" data-toggle="tab"> PSR </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="car">
                <!--<div ng-include="'car.html'"></div>-->
                <div class="car-page">
                    <h3 class="page-title">汽车厂需求量预测（辆数）</h3>
                    <div class="company-nav">
                        <!--<div class="form-group">-->
                            <!--<div class="mt-radio-inline">-->
                                <!--<label class="mt-radio" ng-repeat="company in companies">-->
                                    <!--<input type="radio" name="carType" ng-value="$index"-->
                                           <!--ng-model="model.companySelect"-->
                                           <!--ng-change="selectCompany()"> {{ company }}-->
                                    <!--<span></span>-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                        <select class="company-list" ng-model="companySelect" ng-change="selectCompany()">
                            <option ng-repeat="company in companies" ng-value="$index" ng-bind="company"></option>
                        </select>
                    </div>
                    <div class="car-table">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed">
                                <thead>
                                <tr>
                                    <th rowspan="2">车型</th>
                                    <th rowspan="2">准确度</th>
                                    <th rowspan="1" colspan="2" ng-repeat="(date, value) in carData[0].data" ng-bind="date"></th>
                                </tr>
                                <tr>
                                    <th rowspan="1" colspan="1" ng-repeat-start="date in carData[0].data">实际需求量</th>
                                    <th rowspan="1" colspan="1" ng-repeat-end>预测需求量</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="car in carData">
                                    <td><a href="#" ng-click="selectCar($index)" ng-bind="car.name"></a></td>
                                    <td ng-bind="car.accuracy"></td>
                                    <td ng-repeat-start="value in car.data" ng-bind="value.real">
                                    <td ng-repeat-end ng-bind="value.predict">
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="car-chart" style="width: 800px; height: 200px"></div>

                </div>
            </div>
            <div class="tab-pane" id="area">
               <div ng-include="'area.html'"></div>
            </div>
            <div class="tab-pane" id="psr">
                <div ng-include="'psr.html'"></div>
            </div>
        </div>
    </div>
</div>

<script src="node_modules/angular/angular.min.js"></script>
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/bootstrap-table/dist/bootstrap-table.min.js"></script>
<script src="node_modules/select2/dist/js/select2.full.min.js"></script>
<script src="echarts.min.js"></script>
<script src="app.min.js"></script>
<script src="visCtrl.js"></script>
</body>
</html>