body {
  background-color: rgb(238, 241, 245);
  color: #333;
}
.container-box {
  margin: 10px 20px;
  .nav-tabs {
    li {
      a {
        padding: 5px 7.5px;
      }
    }
  }
  .tab-content {
    border-left: none;
    border-right: none;
    border-bottom: none
  }
}
.car-page {
  .page-title {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .company-nav {
    .form-group {
      margin-bottom: 15px;
      select {
        display: inline-block;
      }
      .mt-radio {
        margin-bottom: 0;
      }
      .form-control:focus {
        border-color: #ccc;
      }
    }

  }
  .car-table {
    .table-responsive {
      max-height: 300px;
      overflow: auto;
    }
    table {
      td, th{
        min-width: 80px;
        text-align: center;
        font-size: 12px !important;
      }
    }
  }
  .container {
    height: 330px;
    background-color: #fff;
    .car-info {
      display: inline-block;
      width: 18%;
      float: left;
      margin-top: 60px;
      .row {
        margin: 10px;
      }

    }
    #car-chart {
      //width: 96%;
      //height: 350px;
      //margin: 15px auto;
      display: inline-block;
      width: 80%;
      height: 330px;
      float: right;
      margin-top: 15px;
    }
  }
}

.select-bg {
  background: rgba(175,191,255,0.5) !important;
}
.select-bg:hover {
  background: rgba(175,191,255,0.5) !important;
}

#customerVis {
  .top {
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 15px 0;
    width: 96%;
    margin: 10px auto;
    .dist-chart {
      height: 285px;
      display: inline-block;
      width: 600px;
      .tab-text {
        height: 31px;
        line-height: 31px;
        vertical-align: middle;
        display: inline-block;
        float: left;
        margin-right: 10px;
        color: #9b9b9b;
      }
      .nav-tabs {
        display: inline-block;
        border: 1px solid #c0d6fb;
        background: #f2f7fd;
        border-radius: 4px !important;
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        li {
          height: 33px;
          line-height: 33px;
          vertical-align: middle;
          border-bottom: none !important;
          right: 1px;
          a {
            padding: 5px 7.5px;
            color: #9b9b9b;
          }
        }
        li:hover {
          border-bottom: none !important;
        }
      }
      .act {
        background: #fff;
        border: 1px #c0d6fb solid;
        border-radius: 4px !important;
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        border-collapse: collapse;
      }
      .chart {
        height: 250px;
        width: 100%;
      }
    }
    .compare-chart {
      height: 285px;
      display: inline-block;
      width: 370px;
    }
  }

  .bottom {
    background-color: #fff;
    width: 96%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 15px 0;
    .customer-table {
      height: 300px;
      width: 600px;
      .tools {
        margin-bottom: 10px;
        select.form-control {
          display: inline-block;
          padding: 3px 6px;
          font-size: 11px;
          height: 28px
        }
        select:first-child {
          width: 60px;
        }
        select:nth-child(2) {
          width: 130px;
        }
        select:nth-child(3) {
          width: 80px;
        }
        .btn-success {
          padding: 5px 12px;
          font-size: 11px;
          background-color: #3E84E7;
          border: none;
          outline: none
        }
      }
      .table-responsive {
        max-height:255px;
        overflow: auto;
        table {
          th, td {
            font-size: 10px;
            padding: 5px;
          }
          thead {
            tr {
              th {
                border-bottom: 1px solid #3e84e7 !important;
                color: #9b9b9b;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .radar-container {
      width: 260px !important;
      height: 260px !important;
      margin-top: 10px;
      .radar-chart {
        width: 100% !important;
        height: 100% !important;
        canvas {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
  }
}